<h1>全ジャンル　一覧</h1>
<%= form_with model: @genre, url: genres_path, method: :post do |f| %>
    <div class="form-group">
        <%= f.label :ジャンル登録 %>
        <%= f.text_field :name %>
    </div>
    <div class="form-group">
        <%= f.submit "登録する" %>
    </div>
<% end %>

<ul>
    <li><%= link_to "なし", genre_path(0) %></li>
    <% @genres.each do |genre| %>
        <li><%= link_to genre.name, genre_path(genre.id) %></li>
    <% end %>
</ul>