 <%= form_with model: @genre, url: genres_path, method: :post do |f| %>
    <div class="form-group">
        <%= f.label :ジャンル登録 %>
        <%= f.text_field :name %>
    </div>
    <div class="form-group">
        <%= f.submit "登録する" %>
    </div>
 <% end %>
<% if @genres.present? %>
 <h1>全ジャンル　一覧</h1>
     <%= link_to '50音順', genres_path(name_sort: "true") %>
    |<%= link_to '新しい順', genres_path(latest: "true") %>
    |<%= link_to '古い順', genres_path(old: "true") %>
    <%= form_with url: genres_path, method: :get do |f| %>
    <%= f.select :date_sort, [["新しい順", "latest"], ["古い順", "old"]] %>
    <!--{ '新しい順' => genres_path(latest: "true") , '古い順' => genres_path(old: "true") } %>-->
     <%= f.submit "並び替え", class: "btn btn-primary" %>
    <% end %>
<!--    <select>-->
<!--  <option created_at="latest">新しい順</option>-->
<!--  <option created_at="old">古い順</option>-->
<!--</select>-->

    
 <ul>
    <li><%= link_to "なし", genre_path(0) %></li>
    <% @genres.each do |genre| %>
        <li><%= link_to genre.name, genre_path(genre.id) %></li>
    <% end %>
 </ul>
<% else %>
    <div class="text-center">現在ジャンルは登録されていません。</div>
<% end %>
