<div class="my-4"> 
 <%= form_with model: @genre, url: genres_path, method: :post do |f| %>
    <div class="form-group">
        <%= f.label :ジャンル登録 %>
        <%= f.text_field :name %>
    </div>
    <div class="form-group">
        <%= f.submit "登録する" %>
    </div>
</div>
 <% end %>
<% if @genres.present? %>
 <h2>全ジャンル　一覧</h2>
 <%= form_with url: genres_path, method: :get do |f| %>
    <%= f.select :sort, 
          [
            ["50音順", "name_sort"],
            ["登録日が新しい順", "date_sort_latest"],
            ["登録日が古い順", "date_sort_old"],
          ], {selected: params[:sort]}
    %>
    <%= f.submit "並び替え", class: "btn btn-primary btn-sm mr-3" %>
    <% end %>
    
 <ul>
    <li><%= link_to "なし", genre_path(0) %></li>
    <% @genres.each do |genre| %>
        <li><%= link_to genre.name, genre_path(genre.id) %></li>
    <% end %>
 </ul>
<% else %>
    <div class="text-center">現在ジャンルは登録されていません。</div>
<% end %>
