<h1>Users::Genres#index</h1>
<%= form_with model: @genre, url: genres_path, method: :post do |f| %>
    <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>
    <div class="form-group">
        <%= f.submit "登録" %>
    </div>
<% end %>

<ul>
    <% @genres.each do |genre| %>
        <li><%= genre.name %></li>
    <% end %>
</ul>