<h1><%= params[:id].to_i == 0 ? "なし" : @genre.name %></h1>
<!-- ジャンル”なし”ではなければジャンル名編集-->
<%= link_to "ジャンル名を変更する", edit_genre_path(@genre.id) unless params[:id].to_i == 0 %>
<!-- ジャンル”なし”ではなければジャンル削除-->
<%= link_to "このジャンルを削除する", genre_path(@genre.id), method: :delete, 
"data-confirm" => "ジャンルを削除するとジャンル内の全ての食材のデータも削除されます。本当によろしいですか？" unless params[:id].to_i == 0 %><br>
    
<% if @ingredients.present? %>
    <%= link_to '50音順', genre_path(params[:id].to_i == 0 ? 0 : @genre.id,name_sort: "true") %>
    |<%= link_to '新しい順', genre_path(params[:id].to_i == 0 ? 0 : @genre.id,latest: "true") %>
    |<%= link_to '古い順', genre_path(params[:id].to_i == 0 ? 0 : @genre.id,old: "true") %>
    |<%= link_to '購入日が新しい順', genre_path(params[:id].to_i == 0 ? 0 : @genre.id,purchase_date_latest: "true") %>
    |<%= link_to '購入日が古い順', genre_path(params[:id].to_i == 0 ? 0 : @genre.id,purchase_date_old: "true") %>
    |<%= link_to '賞味期限が遠い順', genre_path(params[:id].to_i == 0 ? 0 : @genre.id,expiration_date_latest: "true") %>
    |<%= link_to '賞味期限が近い順', genre_path(params[:id].to_i == 0 ? 0 : @genre.id,expiration_date_old: "true") %>
    <table class="table table-hover table-bordered table-condensed">
      <thead>
		    <tr>
		      <th>食材</th>
	      	<th>購入日</th>
		      <th>賞味期限</th>
		      <th>数量</th>
		      <th>メモ</th>
		      <th></th>
		      <th></th>
		    </tr>
      </thead>
      <tbody>
        <% @ingredients.each do |ingredient| %>
            <tr>
              <td><%= ingredient.name %></td>
              <!-- 日付設定がされていない場合blank、されている場合は表示する-->
              <td><%= ingredient.purchase_date.blank? ? "" : ingredient.purchase_date.strftime("%Y/%m/%d") %></td>
              <td><%= ingredient.expiration_date.blank? ? "" : ingredient.expiration_date.strftime("%Y/%m/%d") %></td>
              <td><%= ActiveSupport::NumberHelper.number_to_rounded(ingredient.quantity, strip_insignificant_zeros: true) %><%= ingredient.unit %></td>
              <td>
               <% comment = ingredient.comments.first || @comment %>
                 <%= form_with model: [ingredient, comment] do |f| %>
                  <%= f.text_area :comment, rows: '2', placeholder: "メモ" %>
                  <%= f.submit "メモを更新する" %>
                 <% end %>
              </td>
              <td><%= link_to "編集する", edit_ingredient_path(ingredient.id) %></td>
              <td><%= link_to "削除する", ingredient_path(ingredient.id), method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
            </tr>
        <% end %>
	    </tbody>
    </table>
<% else %>
    <div class="text-center">このジャンルに食材は登録されていません。
    登録する場合は<%= link_to "こちら", new_ingredient_path %>から登録してください。</div>
<% end %>

