<h1><%= @genre.name %></h1>

<%= link_to "ジャンル名を変更する", edit_genre_path(@genre.id) %>

<%= link_to "このジャンルを削除する", genre_path(@genre.id), method: :delete, 
"data-confirm" => "ジャンルを削除するとジャンル内の全ての食材のデータも削除されます。本当によろしいですか？" %>
    
    <table class="table table-hover table-bordered table-condensed">
      <thead>
		    <tr>
		      <th>食材</th>
	      	  <th>購入日</th>
		      <th>賞味期限</th>
		      <th>数量</th>
		      <th>メモ</th>
		      <th></th>
		      <th></th>
		    </tr>
      </thead>
      <tbody>
        <% @ingredients.each do |ingredient| %>
            <tr>
              <td><%= ingredient.name %></td>
              <!-- 日付設定がされていない場合blank、されている場合は表示する-->
              <td><%= ingredient.purchase_date.blank? ? "" : ingredient.purchase_date.strftime("%Y/%m/%d") %></td>
              <td><%= ingredient.expiration_date.blank? ? "" : ingredient.expiration_date.strftime("%Y/%m/%d") %></td>
              <td><%= ActiveSupport::NumberHelper.number_to_rounded(ingredient.quantity, strip_insignificant_zeros: true) %><%= ingredient.unit %></td>
              <% comment = ingredient.comments.first || @comment %>
              <td>
                <%= form_with model: [ingredient, comment] do |f| %>
                  <%= f.text_area :comment, rows: '2', placeholder: "メモ" %>
                  <%= f.submit "メモを保存する" %>
                <% end %>
              <%#= link_to "消去", ingredient_comment_path(ingredient,comments), method: :delete, "data-confirm" => "削除しますか？" %>
              </td>
              <td><%= link_to "編集する", edit_ingredient_path(ingredient.id) %></td>
              <td><%= link_to "削除する", ingredient_path(ingredient.id), method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
            </tr>
           <% end %>
	    </tbody>
    </table>

