<h1><%= @genre.name %></h1>
    <table class="table table-hover table-bordered table-condensed">
      <thead>
		    <tr>
		      <th>食材</th>
	      	  <th>購入日</th>
		      <th>賞味期限</th>
		      <th>数量</th>
		      <th></th>
		    </tr>
      </thead>
      <tbody>
        <% @ingredients.each do |ingredient| %>
            <tr>
              <td><%= ingredient.name %></td>
              <td><%= ingredient.purchase_date %></td>
              <td><%= ingredient.expiration_date %></td>
              <td><%#= ingredient.quantity %><%= number_with_precision(ingredient.quantity, precision: 1) %><%= ingredient.unit %></td>
              <td>削除する</td>
            </tr>
           <% end %>
	  </tbody>
    </table>

