<div class="my-4">
<h2><%= params[:id].to_i == 0 ? "なし" : @genre.name %></h2>
<!-- ジャンル”なし”ではなければジャンル名編集-->
<%= link_to "ジャンル名を変更する", edit_genre_path(@genre.id), class: "btn btn-success" unless params[:id].to_i == 0 %>
<!-- ジャンル”なし”ではなければジャンル削除-->
<%= link_to "このジャンルを削除する", genre_path(@genre.id), class: "btn btn-danger", method: :delete, 
"data-confirm" => "ジャンルを削除するとジャンル内の全ての食材のデータも削除されます。本当によろしいですか？" unless params[:id].to_i == 0 %><br>
    
<% if @ingredients.present? %>
<div class="my-3" >
 <%= form_with url: genre_path(params[:id].to_i == 0 ? 0 : @genre.id), method: :get do |f| %>
    <%= f.select :sort, 
          [
            ["50音順", "name_sort"],
            ["登録日が新しい順", "date_sort_latest"],
            ["登録日が古い順", "date_sort_old"],
            ["購入日が新しい順", "purchase_date_latest"],
            ["購入日が古い順", "purchase_date_old"],
            ["賞味期限が早い順", "expiration_date_latest"],
            ["賞味期限が遅い順", "expiration_date_old"],
          ], {selected: params[:sort]}
    %>
    <%= f.submit "並び替え", class: "btn btn-primary btn-sm mr-3" %>
    <% end %>
</div>
    
    <table class="table table-hover table-bordered table-condensed mx-3">
      <thead>
		    <tr>
		      <th>食材</th>
	      	  <th>購入日</th>
		      <th>賞味期限</th>
		      <th>数量</th>
		      <th>メモ</th>
		      <th></th>
		      <th></th>
		    </tr>
      </thead>
      <tbody>
        <% @ingredients.each do |ingredient| %>
            <tr>
              <td><%= ingredient.name %></td>
              <!-- 日付設定がされていない場合blank、されている場合は表示する-->
              <td><%= ingredient.purchase_date.blank? ? "" : ingredient.purchase_date.strftime("%Y/%m/%d") %></td>
              <td>
                  <% unless ingredient.expiration_date.blank? %>
                    <% if ingredient.expiration_date > Date.today %>
                      <%= ingredient.expiration_date.strftime("%Y/%m/%d") %>
                    <% else %>  <!-- 賞味期限が過ぎていた場合-->     
                  <span class="text-danger font-weight-bold">
                      <%= ingredient.expiration_date.strftime("%Y/%m/%d") %><br>[賞味期限切れ]
                  </span>
                    <% end %>
                  <% end %>
              </td>
              <td><%= ActiveSupport::NumberHelper.number_to_rounded(ingredient.quantity, strip_insignificant_zeros: true) %><%= ingredient.unit %></td>
              <td>
               <% comment = ingredient.comments.first || @comment %>
                 <%= form_with model: [ingredient, comment] do |f| %>
                  <%= f.text_area :comment, rows: '2', placeholder: "メモ" %>
                  <%= f.submit "メモを更新する", class: "btn btn-light" %>
                 <% end %>
              </td>
              <td><%= link_to "編集する", edit_ingredient_path(ingredient.id), class: "btn btn-success" %></td>
              <td><%= link_to "削除する", ingredient_path(ingredient.id), method: :delete,
                  "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %></td>
            </tr>
        <% end %>
	    </tbody>
    </table>
<% else %>
    <div class="text-center">このジャンルに食材は登録されていません。<br>
    登録する場合は<%= link_to "こちら", new_ingredient_path %>から登録してください。</div>
<% end %>
</div>

