<h2>検索結果</h2>


<table class="table table-hover table-inverse">
  <!--検索対象モデルがGenreの時 -->
<% if @range == "Genre" %>
  <% if @genres.present? %>
     <tbody>
      <% if params[:name].blank? %>
        <tr>
          <td><%= link_to "なし", genre_path(0) %></td>
        </tr>
      <% end %>
      <% @genres.each do |genre| %>
        <tr>
          <td><%= link_to genre.name, genre_path(genre) %></td>
        </tr>
      <% end %>
     </tbody>
  <% else %>
     <div class="text-center">該当するジャンルは登録されていません。</div>
     登録する場合は<%= link_to "こちら", genres_path %>から登録してください。
  <% end %>  
<% else %>
    <!--検索対象モデルがGenreではない時(= 検索対象モデルがIngredientの時) -->
  <% if @ingredients.present? %>
    <thead>
		    <tr>
		      <th>食材</th>
		      <th>ジャンル</th>
	      	<th>購入日</th>
		      <th>賞味期限</th>
		      <th>数量</th>
		      <th>メモ</th>
		    </tr>
	  </thead>
    <tbody>
      <% @ingredients.each do |ingredient| %>
        <tr>
         <td><%= ingredient.name %></td>
         <td><%= ingredient.genre.nil? ? "なし" : ingredient.genre.name %></td>
         <td><%= ingredient.purchase_date.blank? ? "" : ingredient.purchase_date.strftime("%Y/%m/%d") %></td>
         <td><%= ingredient.expiration_date.blank? ? "" : ingredient.expiration_date.strftime("%Y/%m/%d") %></td>
         <td><%= ActiveSupport::NumberHelper.number_to_rounded(ingredient.quantity, strip_insignificant_zeros: true) %><%= ingredient.unit %></td>
         <% comment = ingredient.comments.first || @comment %>
         <td>
                <%= form_with model: [ingredient, comment] do |f| %>
                  <%= f.text_area :comment, rows: '2', placeholder: "メモ" %>
                  <%= f.submit "メモを更新する" %>
                <% end %>
         </td>
        </tr>
       <% end %>
      </tbody>
    </table>
  <% else %>
    <div class="text-center">該当する食材は登録されていません。</div>
    登録する場合は<%= link_to "こちら", new_ingredient_path %>から登録してください。
  <% end %>
<% end %>