<% if @ingredients.present? %>
<h2>食材一覧</h2>
  <%= form_with url: ingredients_path, method: :get do |f| %>
    <%= f.select :sort, 
          [
            ["50音順", "name_sort"],
            ["登録日が新しい順", "date_sort_latest"],
            ["登録日が古い順", "date_sort_old"],
            ["購入日が新しい順", "purchase_date_latest"],
            ["購入日が古い順", "purchase_date_old"],
            ["賞味期限が近い順", "expiration_date_latest"],
            ["賞味期限が遠い順", "expiration_date_old"],
          ], {selected: params[:sort]}
    %>
    <%= f.submit "並び替え", class: "btn btn-primary btn-sm mr-3" %>
    <% end %>
 
  <table class="table table-hover table-bordered table-condensed">
      <thead>
		    <tr>
		      <th>食材</th>
		      <th>ジャンル</th>
	      	　<th>購入日</th>
		      <th>賞味期限</th>
		      <th>数量</th>
		      <th>メモ</th>
		      <th></th>
		      <th></th>
		    </tr>
      </thead>
      <tbody>
        <% @ingredients.each do |ingredient| %>
            <tr>
              <td><%= ingredient.name %></td>
              <td><%= ingredient.genre.nil? ? "なし" : ingredient.genre.name %></td>
              <!-- 日付設定がされていない場合blank、されている場合は表示する-->
              <td><%= ingredient.purchase_date.blank? ? "" : ingredient.purchase_date.strftime("%Y/%m/%d") %></td>
              <td><%= ingredient.expiration_date.blank? ? "" : ingredient.expiration_date.strftime("%Y/%m/%d") %></td>
              <td><%= ActiveSupport::NumberHelper.number_to_rounded(ingredient.quantity, strip_insignificant_zeros: true) %><%= ingredient.unit %></td>
              <td>
                <% comment = ingredient.comments.first || @comment %>
                 <%= form_with model: [ingredient, comment] do |f| %>
                  <%= f.text_area :comment, rows: '2', placeholder: "メモ" %>
                  <%= f.submit "メモを更新する", class: "btn btn-light" %>
                 <% end %>
              </td>
              <td><%= link_to "編集する", edit_ingredient_path(ingredient.id), class: "btn btn-success" %></td>
              <td><%= link_to "削除する", ingredient_path(ingredient.id), method: :delete, 
                  "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %></td>
    　　<% end %>
    　 </tbody>
  </table>
<% else %>
    <div class="text-center">現在食材は登録されていません。
    登録する場合は<%= link_to "こちら", new_ingredient_path %>から登録してください。</div>
<% end %>
 