<h2>食材一覧</h2>

<% if @ingredients.present? %>
  <%= link_to '50音順', ingredients_path(name_kana: "true") %>
  |<%= link_to '新しい順', ingredients_path(latest: "true") %>
  |<%= link_to '古い順', ingredients_path(old: "true") %>
  |<%= link_to '購入日が新しい順', ingredients_path(purchase_date_latest: "true") %>
  |<%= link_to '購入日が古い順', ingredients_path(purchase_date_old: "true") %>
  |<%= link_to '賞味期限が遠い順', ingredients_path(expiration_date_latest: "true") %>
  |<%= link_to '賞味期限が近い順', ingredients_path(expiration_date_old: "true") %>
  <table class="table table-hover table-bordered table-condensed">
      <thead>
		    <tr>
		      <th>食材</th>
		      <th>ジャンル</th>
	      	　<th>購入日</th>
		      <th>賞味期限</th>
		      <th>数量</th>
		      <th>メモ</th>
		      <th></th>
		      <th></th>
		    </tr>
      </thead>
      <tbody>
        <% @ingredients.each do |ingredient| %>
            <tr>
              <td><%= ingredient.name %></td>
              <td><%= ingredient.genre.nil? ? "なし" : ingredient.genre.name %></td>
              <!-- 日付設定がされていない場合blank、されている場合は表示する-->
              <td><%= ingredient.purchase_date.blank? ? "" : ingredient.purchase_date.strftime("%Y/%m/%d") %></td>
              <td><%= ingredient.expiration_date.blank? ? "" : ingredient.expiration_date.strftime("%Y/%m/%d") %></td>
              <td><%= ActiveSupport::NumberHelper.number_to_rounded(ingredient.quantity, strip_insignificant_zeros: true) %><%= ingredient.unit %></td>
              <% comment = ingredient.comments.first || @comment %>
              <td>
                <%= form_with model: [ingredient, comment] do |f| %>
                  <%= f.text_area :comment, rows: '2', placeholder: "メモ" %>
                  <%= f.submit "メモを更新する" %>
                <% end %>
              </td>
              <td><%= link_to "編集する", edit_ingredient_path(ingredient.id) %></td>
              <td><%= link_to "削除する", ingredient_path(ingredient.id), method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
    　　<% end %>
    　 </tbody>
  </table>
<% else %>
    <div class="text-center">現在食材は登録されていません。</div>
    登録する場合は<%= link_to "こちら", new_ingredient_path %>
<% end %>
