<!DOCTYPE html>
<html>
  <head>
    <title>ShokuzaiList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <ul>
        <li><%= link_to "新規登録", new_user_registration_path %></li>
        <li><%= link_to "ログイン", new_user_session_path %></li>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
        <li><%= link_to "食財登録", new_ingredient_path %></li>
        <li><%= link_to "食財一覧", ingredients_path %></li>
        <li><%= link_to "食財ジャンル", genres_path %></li>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>
