<!DOCTYPE html>
<html>
  <head>
    <title>ShokuzaiList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <ul>
        <li><%= link_to "初めての方はこちらへ", new_user_registration_path %></li>
        <li><%= link_to "ログイン", new_user_session_path %></li>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
        <li><%= link_to "食材登録", new_ingredient_path %></li>
        <li><%= link_to "食材一覧", ingredients_path %></li>
        <li><%= link_to "ジャンル一覧", genres_path %></li>
      </ul>
    <!--検索機能 -->
     <%= render 'searches/form' %>
    </header>
    <%= yield %>
  </body>
</html>
